div.news-list
{
	word-wrap: break-word;
}
div.news-list img.preview_picture
{
	float:left;
	margin:0 4px 6px 0;
}
.news-date-time {
	color:#486DAA;
}
.modal-header:before, .modal-header:after {
	content: "";
	display: none;
}
.product--list {
	padding: 0.5rem 0 !important;
}
.d-block {
	padding-left: 0.8rem;
}
.product__body {
	border: none !important;
}