
/* 
    Created on : 02.03.2018, 17:12:54
    Author     : dimabresky
*/

#voucher-box {
    font-family: 'Roboto', arial, helvetica, sans-serif;
}

#bookings-title {
    margin-top: 0;
    font-weight: 300;
    color: #262626;
    line-height: 1.3em;
    font-size: 32px;
    text-decoration: underline;
}

.service-flist, #total-box {
    list-style: none;
    margin: 10px 0;
    padding: 0 3px;
    line-height: 30px;
}

#total-box {
    font-size: 24px;
    line-height: 40px !important;
}

.fname {
    font-weight: bold;
}

#empty-voucher-list-message {color: red;}