
/* 
    Created on : 02.11.2018, 18:46:56
    Author     : dimabresky
*/

#messages-container, #add-message-container {
    max-width: 600px;
    width: 100%;
}

#add-message-container textarea {
    width: 100%;
}

#add-message-container {
    text-align: right;
}

#add-message-container button {
    margin: 20px 0;
}

.message-container {
    background-color: lightblue;
    width: 600px;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 4px;
    margin: 20px 0;
}

.message-container .message {
    word-break: break-all;
    margin-top: 10px;
}

#messages-container-title {
    margin: 20px 0;
}