@import 'newcustom.css';
.fa-angle-down:before{
    content:'';
}
@media (max-height:800px){
    .intro__content{
        max-height: 600px !important;
    }
}
.datepicker {
    background: transparent;
    text-align: center;
    padding: 0;
    -webkit-animation: none;
    animation: none;
    direction: ltr;
    border: 0;
    font-size: 14px;
    line-height: 24px;
    border-radius: 5px;
    position: absolute;
    width: 308px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    background: #fff;
    -webkit-box-shadow: 1px 0 0 #eee, -1px 0 0 #eee, 0 1px 0 #eee, 0 -1px 0 #eee, 0 3px 13px rgba(0,0,0,0.08);
    box-shadow: 1px 0 0 #eee, -1px 0 0 #eee, 0 1px 0 #eee, 0 -1px 0 #eee, 0 3px 13px rgba(0,0,0,0.08);
}
.datepicker thead tr:nth-child(2) {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.datepicker thead tr:nth-child(2) {
    background: transparent;
    color: #3c3f40;
    fill: #3c3f40;
    height: 28px;
    line-height: 1;
    text-align: center;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow: hidden;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
.datepicker thead .datepicker-switch {
    font-size: 120%;
    font-weight: 300;
    color: inherit;
    width: 75%;
    left: 12.5%;
    padding: 1.16px 0 0 0;
    line-height: 1;
    height: 28px;
    display: inline-block;
    text-align: center;
    -webkit-transform: translate3d(0px, 0px, 0px);
    transform: translate3d(0px, 0px, 0px);
}
.datepicker thead tr th.prev,
.datepicker thead tr th.next {
    text-decoration: none;
    cursor: pointer;
    top: 0px;
    line-height: 16px;
    height: 28px;
    padding: 2px 10px;
    width: 36px;
    z-index: 3;
}
.datepicker thead tr th.prev span,
.datepicker thead tr th.next span {
    position: relative;
}
.datepicker thead tr th.prev {
    right: 0;
}
.datepicker thead tr:nth-child(3), .datepicker tbody tr {
    background: transparent;
    text-align: center;
    overflow: hidden;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    /*height: 28px;*/
    width: 307.875px;
    min-width: 307.875px;
    max-width: 307.875px;
}
.datepicker thead tr:nth-child(3) th.dow {
    cursor: default;
    font-size: 90%;
    background: transparent;
    color: rgba(0,0,0,0.54);
    line-height: 1;
    margin: 0;
    text-align: center;
    display: block;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    font-weight: bolder;
}
.datepicker tbody {
    padding: 0;
    outline: 0;
    text-align: left;
    width: 307.875px;
    min-width: 307.875px;
    max-width: 307.875px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    -webkit-transform: translate3d(0px, 0px, 0px);
    transform: translate3d(0px, 0px, 0px);
    opacity: 1;
}
.datepicker tbody .disabled.day, .datepicker tbody .day {
    background: none;
    border: 1px solid transparent;
    border-radius: 150px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #404848;
    cursor: pointer;
    font-weight: 400;
    height: 39px;
    line-height: 39px;
    margin: 0;
    display: inline-block;
    position: relative;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
}
.datepicker tbody .active.day {
    background: #1dc6c8;
    color: #fff;
    border-color: #1dc6c8;
}
.day {
    background: none;
    border: 1px solid transparent;
    border-radius: 150px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #404848;
    cursor: pointer;
    font-weight: 400;
    width: 14.2857143%;
    -webkit-flex-basis: 14.2857143%;
    -ms-flex-preferred-size: 14.2857143%;
    flex-basis: 14.2857143%;
    max-width: 39px;
    height: 39px;
    line-height: 39px;
    margin: 0;
    display: inline-block;
    position: relative;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
}
.datepicker tbody td.day:nth-child(7n-6) {
    border-left: 0;
}
.datepicker tbody .old.disabled.day, .datepicker tbody .new.day, .datepicker tbody .old.day {
    color: rgba(64,72,72,0.3);
    background: transparent;
    border-color: #e9e9e9;
    cursor: default;
}
.datepicker tbody .old.disabled.day, .datepicker tbody .disabled.day, .datepicker tbody .day, .datepicker tbody .new.day, .datepicker tbody .old.day {
    border-radius: 0 !important;
    border: 1px solid #e9e9e9;
    max-width: none;
    border-right-color: transparent;
    border-bottom-color: transparent;
}
.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 16px;
    height: 16px;
}
.glyphicon-arrow-right {
    background-image: url('../img/next.png');
}
.glyphicon-arrow-left {
    background-image: url('../img/back.png');
}
.children-age-box {
    position: absolute;
    background-color: #fff;
    width: 100%;
    padding: 5px 4px;
    border: 1px solid #cccccc;
    z-index: 10;
    top: 68px;
}
.hidden_ {
    display: none;
}
i.bullet.empty {
    color: #fff;
}
.intro__search {
    margin-bottom: 0!important;
}
.page-main {
    margin-bottom: 0 !important;
}
.card .list-group .card-header {
    background-color: rgb(242, 131, 0);
    border-bottom: rgb(242, 131, 0);
    color: #fff;
}
.cl1 {color: #1fa261;}
.cl2 {color: #1fa261;}
.tooltip_ {
    background: white;
    box-shadow: 0 4px 32px 0 rgba(0, 0, 0, 0.25);
    padding: 5px 10px;
    line-height: 20px;
    font-size: 11px;
    display: none;
    position: absolute;
    bottom: 25px;
    left: 0;
    color: #444;
}
.tooltip_:after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #FFF transparent transparent transparent;
}
li.price {
    position: relative;
}
li.price:hover > .tooltip_ {
    display: inline-block;
}
.datepicker .travelsoft-highlight-date {
    background: #00756b !important;
    color: #fff !important;
}
.intro__content {
    z-index: 5 !important;
}
ul.list-style-true{
    padding-left:15px;
}
ul.list-style-true-green li, ul.list-style-true-red li{
    display: flex;
    margin-bottom:5px;
}
.bg-white {
    background: white;
}
.border-green {
    border-color: #1d8e3f !important;
}
.text-green{
    color: #1d8e3f !important;
}
.text-red{
    color:red;
}
.border-red {
    border-color: red !important;
}
.border-black {
    border-color: black;
}

ul.list-style-true-green li:before{
    content: '';
    display: block;
    background: url(/images/tick.png);
    height: 25px;
    width: 14px;
    margin-right: 10px;
    flex-shrink: 0;
    margin-top: 5px;
    background-size: contain;
    background-repeat: no-repeat;
}
ul.list-style-true-red li:before{
    content: '';
    display: block;
    background: url(/images/checked.png);
    height: 25px;
    width: 14px;
    margin-right: 10px;
    flex-shrink: 0;
    margin-top: 5px;
    background-size: contain;
    background-repeat: no-repeat;
}
.prlx-scroll{
    color:white;
}
p{
    color: black;
}