form[action="/personal/profile/?register=yes"] .form-group label {
    margin-bottom: 0; }

form[action="/personal/profile/?register=yes"] .form-group:nth-child(1) {
    display: flex; }
form[action="/personal/profile/?register=yes"] .form-group:nth-child(1) .radio {
    display: flex;
    height: 30px;
    width: 100px;
    align-items: center; }
form[action="/personal/profile/?register=yes"] .form-group:nth-child(1) .radio input {
    position: relative;
    top: 3px;
    margin-left: 3px; }

form[action="/personal/profile/?register=yes"] #agent-fields-box .form-group {
    display: block; }

.bx-auth-profile .hotel-card {
    padding: 1.25rem;
    margin-bottom: 1.875rem;
    border: 1px solid transparent;
    background-color: transparent; }



.select-size{
    height:35px !important;
}
.dot-stile-older{
    width: 10px !important;
    padding: 0 !important;
    margin: 5px !important;
}
.flex-around{

    display: flex;
    justify-content: space-around;

}
.max-width{
    max-width: 160px !important;
}
.flex-between{
    display: flex;
    justify-content: space-between;

}
.d-block{
    display: block !important;
}
.width-40{
    width:40%;
}
.width-55{
    width: 55%;
}
@media (max-width:768px){
    .width-40,.width-55{
        width: 49%;
    }
}
@media (max-width:568px){
    .width-40,.width-55{
        width: 100%;
    }
}

.search-hotels__form .row>:not(.border-0):after {
    content: "";
    position: absolute;
    top: 4px !important;
    right: 0;
    height: 85% !important;
    border-right: 1px solid #dcdcdc;
}
.link-main-page{
    display: block;
    height: 100%;
    width: 100%;
    line-height: 39px;
}
.hotel-search-form .col-12,.row{
    /* padding-right: 0 !important; */
    /* margin-right: 0 !important; */
    /* padding-left: 0 !important; */
    /* margin-left: 0 !important; */
}
.hotel-search-form .col-12:last-child .row{
    justify-content: space-between;
}
.hotel-search-form .col-12:last-child .row .col-lg-6{
    max-width:47%;
}
.hotel-search-form .col-12:last-child .row .col-lg-6 .form-select{
    padding: 0 !important;
    width: 100%;
}
.hotel-search-form .col-12:last-child .row .col-lg-6 .form-select .form-control{
    padding: 0 !important;
    width: 100%;
}
.hotel-search-form .col-12:last-child .row .col-lg-6 .row{
    justify-content: space-between;
}
.hotel-search-form .col-12:last-child .children-age-box{
    width: 130px;
}
.search-hotels__form .form-group{
    padding: 0 10px !important;
}
.search-hotels__form .form-group:last-child::after{
    display: none;
}
.search-hotels__form .select-local .icon-label {
    transform: translateY(2px);
}
.form-control+.select2-container.select2-container--default .select2-selection--single {
    transform: translateY(2px);
}
.intro__hotels{
    padding: 50px 100px 0;
}
@media (max-width: 768px) {
    .search-hotels__form .form-group::after{
        display: none;
    }
}
@media (max-width: 1024px) {
    .search-hotels__form .form-group::after{
        display: none;
    }
    .intro__hotels{
        padding: 50px 0 0;
    }
}
.px-100{
    padding: 0 100px;
}
.intro__hotels-controls>.btn{
    top:50%;
}
.bg-white{
    background: white !important;
}
.px-1{
    padding: 0 1rem !important;
}
.text-white{
    color:white;
}
.ts-border-radius{
    border-radius: 5px !important;
}
.ts-height{
    height: 38px;
}
.border-none{
    border-bottom: none !important;
}
.ts-margin-bottom{
    margin-bottom: 10px;
}

