div.news-list
{
	word-wrap: break-word;
}
div.news-list img.preview_picture
{
	float:left;
	margin:0 4px 6px 0;
}
.news-date-time {
	color:#486DAA;
}
.modal-header:before, .modal-header:after {
	content: "";
	display: none;
}
.product__special_box {
	position: absolute;
}
.product__special {
	position: relative !important;
	display: inline-block !important;
	margin-bottom: 3px;
	width: 100%;
	padding-left: 0 !important;
	box-shadow: none !important;
}
.product__special span.bg-primary-orange, .product__special span.bg-primary {
	padding: .5rem;
	border-radius: 0 calc(.5rem + 3px) calc(.5rem + 3px) 0;
	font-size: 10px;
}
.bg-primary-orange {
	background-color: #fd962c;
}