.country-list span {
    padding-right: 5px;
    border-right: 1px solid #ccc;
    margin-right: 5px;
    display: inline-block;
}
.country-list span:last-child {
    padding-right: 0px;
    border-right: none;
    margin-right: 0px;
}
.country-list span a {
    border-bottom: 1px dashed #00756b;
    font-weight: 100;
    color: #00756b;
}
.country-list span a:hover {
    color: #fd962c;
}
.fs-18 {
    font-size: 18px;
}

.schedule-cell {
    border-right: 1px solid #666;
}

ul.availabily-list{
    list-style: none;
    margin: 0;
}
ul.availabily-list li {
    margin-bottom: 0;
    padding-top: 12px;
    display: block;
    line-height: 1.2;
    padding-bottom: 12px;
    position: relative;
}
ul.availabily-list li > div {
    width: none;
    font-size: 12px;
    display: inline-block;
    vertical-align: middle;
    padding: 0;
    margin: 0;
    font-weight: 600;
}
ul.availabily-list li > div span, .route {
    font-size: 14px
}
.availabily-list .availabily-content.clearfix:nth-child(even) {background-color:#F9F9F9;}
.availabily-content.country {
    padding-top: 10px;
    background-color: rgb(235, 243, 241) !important;
    font-weight: 700;
    font-size: 12px;
}
li.availabily-content {
    font-weight: 600;
}

.schedule-body, .schedule-header {

    font-size: 14px !important;
}

.availabily-name {
    width: 505px;
    padding: 10px !important;
}
.availabily-other {
    width: 60px;
    text-align: center;
}
.price-from {
    width: 105px !important;
}
.availabily-other:nth-child(1) {
    width: 120px;
    text-align: center;
}
.last {
    display: none !important;
}

.price-container {

    font-size: 12px !important;
}

#legend-area {
    text-align: right;
}

@media (max-width: 467px) {
    .legend-part {
        display: block;
    }
}

@media (max-width: 940px) {
    .last {
        display: block !important;
        float: right;
    }
    .first {
        display: none !important;
    }
    .availabily-name {
        width: 38%;
    }
    .availabily-other {
        width: 30%;
        text-align: center;
        clear: both;
    }

    #legend-area {
        text-align: left;
    }
}
@media (min-width: 940px) and (max-width: 1139px) {
    .availabily-name {
        width: 23%;
    }
    .availabily-other {
        width: 8%;
        text-align: center;
        clear: both;
    }
}
.red {
    color: #f0262d;
}
.yellow {
    color: #ffb300;
}
.green {
    color: #019A1D;
}
.schedule-cell .red {color: #e39194;}
.schedule-cell .green {color: #87be91;}
.schedule-cell .h4, h4 {
    font-size: 16px !important;
    margin-bottom: 1rem;
    margin-top: 0.5rem;
}
.span-tour-type {
    font-size: 12px !important;
    margin-right: 10px;
}