img.img_small{
 width: 100%;
  height: auto;
}
.offer-item{
  h5{
    font-weight: bold;
  }

}

.ts-background__light-gray{
    background: #f8f9fa;
  }
.ts-border-bottom{
  border-bottom: 1px solid #d6d6d6;
}

.text-align-left{
  text-align: left;
}

@media (max-width:568px) {
  #result_form{
    ul{
      text-align: center;
    }
  }

}
