div.news-detail
{
	word-wrap: break-word;
}
div.news-detail img.detail_picture
{
	float:left;
	margin:0 8px 6px 1px;
}fffff
.news-date-time
{
	color:#486DAA;
}
.d-block {
	height: 191px;
}
h4.h4 a {
	color: #fff;
}