.a_center {
    text-align: center
}
.pagination li {
    float: left;
    margin-right: 15px;
}
.pagination li.next_pagination > a,
.pagination li.prev_pagination > a {
    color: #AAA;
}

.pagination li a,
.pagination li a:hover,
.pagination li.active a,
.pagination li.disabled,
.pagination li.page_of {
    color: #525b65;
    font-weight: 700;
    display: inline-block;
    font-size: 13px;
    line-height: 42px;
    height: 43px;
    min-width: 43px;
    padding: 0 11px;
    text-align: center;
    background: #f5f5f5;
    border: 1px solid #eeeeee;
}

.pagination li a:hover,
.pagination li.active a,
.pagination li.next_pagination > a:hover,
.pagination li.prev_pagination > a:hover {
    background: #1dc1f8;
    border-color: #1dc1f8;
    color: #FFF;
}
.mt50 {
    margin-top: 50px
}
.mb0 {
    margin-bottom: 0px
}