
/* 
    Created on : 02.11.2018, 15:23:34
    Author     : dimabresky
*/

#add-message-container {
    margin-top: 20px;
    width: 600px;
    text-align: right;
}

#add-message-container textarea {
    width: 100%;
}

#add-message-container input {
    margin-top: 20px;
}

.message-container{
    background-color: lightblue;
    width: 600px;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 4px;
    margin: 20px 0;
}

.message-container .message {
    word-break: break-all;
}