
#tourists-groups-generator {
    max-width: 1000px;
}

#tourists-groups-generator h2 {

    padding: 10px 5px;
    background-color: #ddd;
}

#form-collapser {
    font-size: 14px;
    text-decoration: underline;
    cursor: pointer;
    color: blue;
}

.fields-area {
    position: relative;
}

.overlay {
    width: 100%;
    height: 100%;
    opacity: .5;
    background-color: #ddd;
    display: none;
    position: absolute;
    z-index: 20;
}

.inline-form-group {
    display: inline-block;
    float: left;
    margin-right: 20px;
    padding: 10px 0;
}

.select-2 {
    width: 180px;
}

.inline-form-group label {
    display: block;
    padding-bottom: 5px;
    font-size: 14px;
}

.clearfix {
    clear: both;
}

.inline {
    display: inline !important;
}

.btn-area {
    margin-top: 20px;
}

.collapsed {
    display: none;
}

#tourists-groups-table {
    position: relative;
}

#tourists-groups-table .excel-btn-area{
    margin: 20px 0;
}

#tourists-groups-table table{
    border-collapse: collapse;
    width: 100%;
    background-color: #fff;
}

#tourists-groups-table table th,
#tourists-groups-table table td {
    padding: 10px;
}

#tourists-groups-table table tr {
    cursor: pointer;
}

#tourists-groups-table table tfoot {
    display: none;
}

.form-group {
    margin: 20px 0;
    font-size: 16px;
}

.edit-tourists-groups-form {
    box-sizing: border-box;
    padding: 40px;
    max-width: 600px;
}

select[name=room_id] {
    width: 165px;
}

.select2-dropdown {
    z-index: 99999999 !important;
}

.excel-btn {
    background-image: url(images/excel.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    cursor: pointer;
    border-radius: 5px;
}

.__highlight {
    background-color: orange;
}
