@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i);body {
    background: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300; }

.container-main-page {
    max-width: 780px;
    width: 100%;
}
.seats-102, .seats-green {
    color: green;
}
.seats-103, .seats-orange {
    color: orange;
}
.seats-104, .seats-red {
    color: red;
}
.jc-center{
    justify-content: center;
}
.ts-table {
    font-family: inherit; }
.ts-table .table-header {
    font-size: 16px;
    font-weight: bolder; }
.ts-table .table-header .tr {
    background: #F4F4F4;
    border-bottom: 1px solid #D9D9D9;
    min-height: 50px; }
.ts-table .table-header .tr .td {
    border-right: 1px solid #D9D9D9; }
.ts-table .table-header .tr .td:last-child {
    border: none; }
.ts-table .table-body {
    font-size: 14px; }
.ts-table .table-row-header {
    font-size: 16px;
    font-weight: bolder; }
.ts-table .tr {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    min-height: 50px;
}
.ts-table .tr p {
    width: 100%;
    padding: 0;
    margin: 20px 10px 10px;
    font-size: 20px;
}
.ts-table .tr2 {
    width: 50%; }
.ts-table .td05 {
    width: 7.8%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center; }
.ts-table .td {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    text-align: ce;
    /* justify-content: center; */
    padding: 5px 10px;
    width: 15.3%;
    border-right: 1px solid #D9D9D9;
}
.ts-table .td:nth-child(2) {
    width: 12.4%; }
.ts-table .td:nth-child(3) {
    width: 39.4%;
    padding: 5px 10px; }
.ts-table .td:nth-child(4) {
    width: 14.3%; }
.ts-table .td:nth-child(5) {
    width: 15.9%;
    border: none;}
/*.ts-table .td:nth-child(6) {
    box-sizing: border-box;
    width: 15.3%;
    border: none; }*/
.display-768{
    display: block;
}
.container-wrap {
    width: 768px;
    overflow: scroll;
}

.wrap {
    display: inline-flex;
    width: 2000px;
    flex-wrap: wrap;
    align-items: flex-start; }

.ts-table-horizontal {
    font-family: inherit; }
.ts-table-horizontal.horizontal {
    display: flex;
    flex-wrap: wrap; }
.ts-table-horizontal.horizontal .table-header {
    width: 100%;
    /* padding: 5px 0 7px; */
    margin-top: 28px;
}
.ts-table-horizontal.horizontal .table-header .tr {
    display: flex;
    flex-direction: column; }
.ts-table-horizontal.horizontal .table-header .tr:last-child {
    border-bottom: 0 !important; }
.ts-table-horizontal.horizontal .table-header .tr .td {
    width: 100%;
    font-size: 12px;
    justify-content: flex-start;
    padding: 6px 7px 7px;
    border-bottom: 1px solid #d9d9d9;
    border-right: 1px solid #d9d9d9 !important;
}
.ts-table-horizontal.horizontal .table-header .tr .td:nth-child(3) {
    height: 180px; }
.ts-table-horizontal.horizontal .table-header .tr .td:last-child {
    border-bottom: 0 !important; }
.ts-table-horizontal.horizontal .th {
    width: 100%; }
.ts-table-horizontal.horizontal .table-body {
    display: flex;
    flex-wrap: wrap; }
.ts-table-horizontal.horizontal .table-body .tr {
    flex-direction: column;
    max-width: 120px;
    border-bottom: 0;
    border-right: 1px solid #d9d9d9; }
.ts-table-horizontal.horizontal .table-body .tr:last-child {
    border-right: 0; }
.ts-table-horizontal.horizontal .table-body .tr.table-row-header {
    width: 100%; }
.ts-table-horizontal.horizontal .table-body .tr .td {
    width: 100%;
    justify-content: flex-start;
    padding: 6px 5px 7px;
    border-bottom: 1px solid #d9d9d9;
    border-right: 0;
    min-width: 100%;
    max-width: 200px; }
.ts-table-horizontal.horizontal .table-body .tr .td:nth-child(3) {
    height: 180px; }
.ts-table-horizontal.horizontal .table-body .tr .td:last-child {
    height: 49px;
    border-bottom: 0;
}
.ts-table-horizontal .table-header {
    font-size: 16px;
    font-weight: bolder; }
.ts-table-horizontal .table-header .tr {
    background: #F4F4F4;
    border-bottom: 1px solid #D9D9D9;
    min-height: 50px; }
.ts-table-horizontal .table-header .tr .td {
    border-right: 1px solid #D9D9D9; }
.ts-table-horizontal .table-header .tr .td:last-child {
    border: none; }
.ts-table-horizontal .table-body {
    font-size: 14px; }
.ts-table-horizontal .table-row-header {
    font-size: 16px;
    font-weight: bolder; }
.ts-table-horizontal .tr {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; }
.ts-table-horizontal .tr p {
    width: 100%; }
.ts-table-horizontal .tr2 {
    width: 50%; }
.ts-table-horizontal .td05 {
    width: 7.8%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center; }
.ts-table-horizontal .td {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15.3%;
    border-right: 1px solid #D9D9D9; }
.ts-table-horizontal .td:nth-child(2) {
    width: 12.4%; }
.ts-table-horizontal .td:nth-child(3) {
    width: 29.4%;
    padding: 5px 10px; }
.ts-table-horizontal .td:nth-child(4) {
    width: 15.3%; }
.ts-table-horizontal .td:nth-child(5) {
    width: 11.9%; }
.ts-table-horizontal .td:nth-child(6) {
    box-sizing: border-box;
    width: 15.3%;
    border: none; }
.color-light-gray {
    background: #FAFAFA; }

.color-dark-gray {
    background: #F4F4F4; }

.text-blue {
    color: #2E7AB9; }

.text-bold {
    font-weight: bolder; }
.position-absolute{
    position: absolute;
}
.display-568{
    display: none;
}
@media (max-width: 768px) {
    .display-768{
        display: none;
    }
    .display-568{
        display: block;
    }
    .ts-table {
        font-family: inherit; }
    .ts-table .table-header {
        font-size: 14px;
        font-weight: bolder; }
    .ts-table .table-header .tr {
        background: #F4F4F4;
        border-bottom: 1px solid #D9D9D9;
        min-height: 50px; }
    .ts-table .table-header .tr .td {
        border-right: 1px solid #D9D9D9; }
    .ts-table .table-header .tr .td:last-child {
        border: none; }
    .ts-table .table-body {
        font-size: 12px; }
    .ts-table .table-row-header {
        font-size: 16px;
        font-weight: bolder; }
    .ts-table .tr {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start; }
    .ts-table .tr p {
        width: 100%; }
    .ts-table .tr2 {
        width: 50%; }
    .ts-table .td05 {
        width: 7.8%;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center; }
    .ts-table .td {
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 19.5%;
        border-right: 1px solid #D9D9D9;
    }
    .ts-table .td:nth-child(2) {
        width: 12.4%; }
    .ts-table .td:nth-child(3) {
        width: 29.4%;
        padding: 5px 10px; }
    .ts-table .td:nth-child(4) {
        width: 12.3%;
    }
    .ts-table .td:nth-child(5) {
        width: 10.9%;
    }
    .ts-table .td:nth-child(6) {
        box-sizing: border-box;
        width: 15.3%;
        border: none; } }

@media (max-width: 450px) {
    .ts-table {
        font-family: inherit;
        width: 108%;
        margin: 0 -4%;
    }
    .ts-table .table-header {
        font-size: 9px;
        font-weight: bolder; }
    .ts-table .table-header .tr {
        background: #F4F4F4;
        border-bottom: 1px solid #D9D9D9;
        min-height: 50px; }
    .ts-table .table-header .tr .td {
        border-right: 1px solid #D9D9D9; }
    .ts-table .table-header .tr .td:last-child {
        border: none; }
    .ts-table .td {
        text-align: center; } }
