$borderOption:(
    'border-right',
    'border-left',
    'border-top',
    'border-bottom',
    'border',
);
@mixin create-border(){
    @for $i from 1 to length($borderOption)+1{
        .ts-#{nth($borderOption,$i)}{
            #{nth($borderOption,$i)}: 1px solid black;
    
        }    
    } 
    @for $i from 1 to length($borderOption)+1{
        .ts-#{nth($borderOption,$i)}-none{
            #{nth($borderOption,$i)}: none;
    
        }    
    } 
    @for $i from 1 to length($borderOption)+1{
        .ts-#{nth($borderOption,$i)}__dashed{
            #{nth($borderOption,$i)}:  1px dashed black;
    
        }    
    } 
}


.ts-hr__dashed{
    height: 1px;
    width: 100%;
    border-bottom: 1px dashed black;
}
.ts-hr{
    height: 1px;
    width: 100%;
    border-bottom: 1px solid black;
}