@import 'var.scss';

    .ts-dropdown{
        list-style: none;
        
        &.active{
            
            .ts-dropdown__links{
            opacity: 1;
            z-index: 1;
            height: auto;
            transition: all 0.3s;
            }
        }
        &__links{
            background: red;
            position: absolute;
            margin: 0;
            height: 0;
            opacity: 0;
            z-index: -9999;
            transition: all 0.3s;
           
        }
        @media screen and (max-width: #{$grid__bp-lg}px) {
            //padding-left: 0 !important;
            &__links{
                position: static;
                opacity: 0;
                height: 0;
                z-index: 1;
                padding: 0 0 0 1rem;
            
            }
        
        } 
    } 
