$breackpoint: (xxl:2100px,xl:1440px, lg:1280px, md:1024px, sm:768px, xs:568px,'':0);

//$backgroundMobileMenu : hsl(219, 61%, 22%);
$backgroundMobileMenu: #52c4c7;
$contactOption:(
    justify-content: flex-end,
    font-size:initial,
    color: black
);
@mixin  media-max-query ($breackpoint, $point){
    @each $key, $value in $breackpoint{
        @if($key == $point ){
            @media screen and (max-width: $value) {
                @content;
            }
        }
    }
}
.ts-theme{
    
    .ts-header{
        //border-top: 1px solid black;
       &__contact{
           //display: flex;
           width: 100%;
           flex-wrap:wrap;
           align-items: center;
            @each $key,$val in $contactOption{
                #{$key}: #{$val};
            }
            &-item{
                margin-right: 1rem;
                &:last-child{
                    margin-right:0; 
                }
            }
            &-item > *{
               display: block;
               text-align: right;
            }
           
           
       }
       &__logo{
           max-height: 120px;
           position: relative;
           img{
               position: absolute;
               top: 0;
               left:0;
           }
       }
       
       &__mobile-menu{
           display: flex;
           justify-content: flex-end;
           background: $backgroundMobileMenu;
           
           
           [class*='ts-col-'],a{
               display: flex;
               align-items: center;
               min-height: 50px;
               color: white;
           }
           a{
               text-decoration: none;
               span{
                   font-size: 14px;
                   margin-left: 5px !important;
               }
           }
           .logo{
            background: url(../img/logo-mobile.jpg);
            background-repeat: no-repeat;
            padding: 0 10px;
            width: 90px;
            height: 50px;
            background-size: 90%;
            background-position: center !important;
            position: relative;
            background-color: white;
            z-index: 1;
            
           }
       }
       &__icon{
           width: 20px;
           height: 20px;
           margin-right: 10px;
           position: relative;
           img{
               width: 100%;
               height: auto;
               position: absolute;
               top: 0;
               left: 0;
           }
       }
       &__nav{
           //width: 100%;
           display: flex;
           justify-content: space-between;
           &-links{
               display: flex;
               justify-content: space-between;
               align-items:center;
               padding: 0;
               margin: 0;
               width: 100%;
               list-style: none;
               @include media-max-query($breackpoint, "md"){
                    padding: 1rem;
                    position: fixed;
                    top:0;
                    width: auto;
                    max-width: 320px;
                    height: 100vh;
                    display: block;
                    opacity: 0;
                    right: -1000px;
                    transition: all 0.3s;
                    background: $backgroundMobileMenu;
                    li{
                        padding: 0.5rem 1rem;
                        a{  
                            color: white;
                        }
                    }
                    
                    &.active{
                        opacity: 1;
                        right: 0;
                    }
               }
               li{
                   &.ts-dropdown{
                       &:after{
                           content:''
                       }
                   }
                    position: relative;
                    a{
                        text-decoration: none;
                        &:hover{
                            text-decoration: none;
                        }
                    }
               }
             
               
           }
       }
    }
}