/*
Error: Invalid CSS after "  .h": expected "{", was "}"
        on line 3 of ts-humburger.scss

1: .ts-theme{
2:   .h
3: }

Backtrace:
ts-humburger.scss:3
/Users/egor/.rvm/gems/ruby-2.5.3/gems/sass-3.4.25/lib/sass/scss/parser.rb:1207:in `expected'
/Users/egor/.rvm/gems/ruby-2.5.3/gems/sass-3.4.25/lib/sass/scss/parser.rb:1137:in `expected'
/Users/egor/.rvm/gems/ruby-2.5.3/gems/sass-3.4.25/lib/sass/scss/parser.rb:1132:in `tok!'
/Users/egor/.rvm/gems/ruby-2.5.3/gems/sass-3.4.25/lib/sass/scss/parser.rb:665:in `block'
/Users/egor/.rvm/gems/ruby-2.5.3/gems/sass-3.4.25/lib/sass/scss/parser.rb:735:in `declaration_or_ruleset'
/Users/egor/.rvm/gems/ruby-2.5.3/gems/sass-3.4.25/lib/sass/scss/parser.rb:685:in `block_child'
/Users/egor/.rvm/gems/ruby-2.5.3/gems/sass-3.4.25/lib/sass/scss/parser.rb:674:in `block_contents'
/Users/egor/.rvm/gems/ruby-2.5.3/gems/sass-3.4.25/lib/sass/scss/parser.rb:666:in `block'
/Users/egor/.rvm/gems/ruby-2.5.3/gems/sass-3.4.25/lib/sass/scss/parser.rb:658:in `ruleset'
/Users/egor/.rvm/gems/ruby-2.5.3/gems/sass-3.4.25/lib/sass/scss/parser.rb:684:in `block_child'
/Users/egor/.rvm/gems/ruby-2.5.3/gems/sass-3.4.25/lib/sass/scss/parser.rb:674:in `block_contents'
/Users/egor/.rvm/gems/ruby-2.5.3/gems/sass-3.4.25/lib/sass/scss/parser.rb:125:in `stylesheet'
/Users/egor/.rvm/gems/ruby-2.5.3/gems/sass-3.4.25/lib/sass/scss/parser.rb:41:in `parse'
/Users/egor/.rvm/gems/ruby-2.5.3/gems/sass-3.4.25/lib/sass/engine.rb:409:in `_to_tree'
/Users/egor/.rvm/gems/ruby-2.5.3/gems/sass-3.4.25/lib/sass/engine.rb:384:in `_render_with_sourcemap'
/Users/egor/.rvm/gems/ruby-2.5.3/gems/sass-3.4.25/lib/sass/engine.rb:301:in `render_with_sourcemap'
/Users/egor/.rvm/gems/ruby-2.5.3/gems/sass-3.4.25/lib/sass/exec/sass_scss.rb:391:in `run'
/Users/egor/.rvm/gems/ruby-2.5.3/gems/sass-3.4.25/lib/sass/exec/sass_scss.rb:63:in `process_result'
/Users/egor/.rvm/gems/ruby-2.5.3/gems/sass-3.4.25/lib/sass/exec/base.rb:52:in `parse'
/Users/egor/.rvm/gems/ruby-2.5.3/gems/sass-3.4.25/lib/sass/exec/base.rb:19:in `parse!'
/Users/egor/.rvm/gems/ruby-2.5.3/gems/sass-3.4.25/bin/sass:13:in `<top (required)>'
/Users/egor/.rvm/gems/ruby-2.5.3/bin/sass:23:in `load'
/Users/egor/.rvm/gems/ruby-2.5.3/bin/sass:23:in `<main>'
/Users/egor/.rvm/gems/ruby-2.5.3/bin/ruby_executable_hooks:24:in `eval'
/Users/egor/.rvm/gems/ruby-2.5.3/bin/ruby_executable_hooks:24:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"  .h\": expected \"{\", was \"}\"\A         on line 3 of ts-humburger.scss\A \A 1: .ts-theme{\A 2:   .h\A 3: }"; }
