.ts-theme{
   
    .ts-title{
        background: #55C4C6;
    }
    .ts-text{
        p{
            font-size: 14px;
            color: gray;
            padding: 0;
            margin: 0;
            //@include media-font($size,$textSize);
        }
    }
    .placeholder{
        position: absolute;
        bottom: 2px;
        font-size:16px;
        padding-left:15px; 
        transition:all .3s;
        //@include media-font($size,$inputF);

        
    }
    .validation{
        display: none;
        position: absolute;
        bottom: -15px;
        font-size: 11px;
        margin-left: 15px;
        color: red;
        //@include media-font($size,$placeHolder);
    }

    
    .active{
        .placeholder{
           font-size: 11px;
           bottom:auto;
           bottom:25px;
           padding-left: 7px;
           line-height: 10px;
          // @include media-font($size,$placeHolder);
        }
        .input{
            opacity: 1 !important;
            transition: opacity 0.3s;
            
        }
    }
    .error{
        border-color: red !important;
        .input{
            input{
                color: red;
            }
        }
        .placeholder{
            color: red;
        }
        .validation{
            display: block;
        }
    }
    
   
    .ts-input{
        height: 40px;
        position: relative;
        width: 100%;
        border-bottom: 1px solid #ccc;
        background: rgba(85, 196, 198, 0.11);
        margin: 0 auto;
        transition: all 0.3s;
        
        &.focus{
            transition: all 0.3s;
            border-bottom: 1px solid #55C4C6;
            box-shadow: 0 1px 0 0 #56c3c7;
        }
    
        .input{
            width: 100%;
            height: 100%;
            opacity: 0;
            
            input{
                
                padding: 0;
                margin: 0;
                outline: none;
                background: transparent;
                outline: 0;
                border: 0;
                position: absolute;
                bottom: 2px;
                font-size: 16px;
                height: auto;
                padding-left: 15px;
                line-height: 16px;
                width: calc(100% - 15px);
                //@include media-font($size,$inputF);
            }
            
        }
    }
    .ts-checkbox{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin: 0 auto;
        i.icon{
            border:2px solid gray;
            width: 14px;
            height: 14px;
            background: transparent;
            position: relative;
            
            &::before{
                content:'';
                font-family: FontAwesome;
                display: block;
                position: absolute;
                top:0px;
                left: 0px;
                font-size: 12px;
            }
            &.active{
                &::before{
                    content: '\F00C';
                    font-family: "FontAwesome";
                    color: #36797b;
                }
            }
        }
        label{
            font-size: 14px;
            color: gray;
            margin-left: 10px;
            font-weight: 300;
            line-height: 14px;
            //@include media-font($size,$labelF);
        }
        
    }
    .ts-submit{
        height: 50px;
        background: #55C4C6;
        position: relative;
        width: 100%;
        margin:0 auto;
        transition: all 0.3s;
        &:hover{
            background: #49a7a8;
        }
        input[type='submit']{
            height: 100%;
            border: none;
            outline: none;
            background: transparent;
            color: white;
            font-size: 21px;
            text-align: center;
            width: 100%;
            text-transform: uppercase;
        }

        
    }
    .ts-select{
        position: relative;
    }
    .ts-link{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        a{
            text-decoration: none;
            font-size: 15px;
            color: gray;
            margin-bottom:5px;
            transition: all 0.3s;
            &:last-child{
                margin-bottom: 0;
            }
            //@include media-font($size,$labelF);
            &:hover{
                color: #56c3c7;
            }
        }
        
    }


}