$breackpoints: ('':0,xs:320px,sm:568px, md:768px,lg:992px,xl:1200px,xxl:1440px);

@mixin create-mq-display($breakpoints) {
    @each $key, $val in $breackpoints{
        @if($val == 0) {
            @media screen and (min-width: $val){
            .ts-d-none{
                display: none;
            }
            .ts-d-flex{
                display: flex;
            }
            .ts-d-block{
                display: block;
            }
        }
        } @else {
          @media screen and (min-width: $val) {
            .ts-d-#{$key}-none{
                display: none !important;
            }
            .ts-d-#{$key}-flex{
                display: flex !important;
            }
            .ts-d-#{$key}-block{
                display: block !important;
            }
          }
        }
    }
    
  }

