$grid__bp-xs: 375;
$grid__bp-sm: 576;
$grid__bp-md: 768;
$grid__bp-lg: 992;
$grid__bp-xl: 1200;
$grid__bp-xxl: 1440;
$grid__cols: 24;


$map-grid-props: (
        '': 0,
        '-xs': $grid__bp-xs,
        '-sm': $grid__bp-sm,
        '-md': $grid__bp-md,
        '-lg': $grid__bp-lg,
        '-xl': $grid__bp-xl,
        '-xxl': $grid__bp-xxl
);

@mixin create-mq($breakpoint) {
  @if($breakpoint == 0) {
    @content;
  } @else {
    @media screen and (min-width: $breakpoint *1px) {
      @content;
    }
  }
}

@mixin create-col-classes($modifier, $grid-cols, $breakpoint) {
  @include create-mq($breakpoint) {
    .ts-col#{$modifier}-offset-0 {
      margin-left: 0;
    }
    @for $i from 1 through $grid-cols {
      .ts-col#{$modifier}-#{$i} {
        width: (100 / ($grid-cols / $i) ) * 1%;
        flex-basis: (100 / ($grid-cols / $i) ) * 1%;
      }
      .ts-col#{$modifier}-offset-#{$i} {
        margin-left: (100 / ($grid-cols / $i) ) * 1%;
      }
    }
  }
}
* {
    box-sizing: border-box;
  
}
.ts-wrap {
  max-width: $grid__bp-xl * 1px;
  margin: 0 auto;
  width: 100%;
  
  &__fluid {
    margin: 0;
    max-width: 100%;
  }
  .ts-row {
    display: flex;
    flex: 1 0 100%;
    margin: 0 -1rem;
    flex-wrap: wrap;
  }
  @each $modifier , $breakpoint in $map-grid-props {
    @include create-col-classes($modifier, $grid__cols, $breakpoint);
  }
}
.ts-col-auto{
    flex: 1 0 auto;
    width: auto;
    max-width: none;
}
//Styling of grid for demostration purposes
.ts-wrap {
  
  padding: 0 1rem;
  box-sizing: border-box;
 

  @at-root {
    [class*='ts-col-'] {
      box-sizing: border-box;
      padding: 0 1rem;
      display: flex;
      flex-wrap:wrap;
    }
  }
}
