$height: 54px;
$borderColor: #DEDEDE;
$min-height:auto;
.ts-theme{
    .ts-tabs{
        & > *{
            box-sizing:border-box; 
        }
        &__nav{
            display: flex;
            flex-wrap: wrap;
            
            &-item{
                height: $height;
                border: 1px solid $borderColor;
                border-right: 0;
                border-bottom: 0;
                position: relative;
                
                &:last-child{
                    border-right: 1px solid $borderColor;
                }
                &.active{
                    &:after{
                        content:'';
                        display:block;
                        width: 100%;
                        height: 4px;
                        position: absolute;
                        bottom: -2px;
                        background: white;
                    }
                }
            }
        }
        &__content{
            border: 1px solid $borderColor;
            min-height: $min-height;
        }
    }
}