
@mixin create-width(){
    .ts-width-100{
        width: 100%;
    }
    .ts-height-100{
        height: 100%;
    }
    @for $i from 1 to 10{
        .ts-width-#{$i*10}{
            width: $i * 10%;
        }
        .ts-height-#{$i*10}{
            height: $i * 10%;
        }    
    } 
    
}


