.ui-datepicker {
    width: 250px;
    background: white;
    margin-top: 5px;
    z-index: 150 !important;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    position: absolute;
    top: 40px;
    font-family: 'Open Sans', sans-serif;
    font-size:13px;
  }
  
  .ui-datepicker-header {
    background: #ecf9f9;
  }
  
  a.ui-datepicker-prev.ui-corner-all, a.ui-datepicker-next.ui-corner-all {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    position: relative;
    cursor: pointer;
    color: black;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    margin: 0 16px;
  }
  .ui-state-disabled{
      opacity: 0.5;
  }
  .ui-state-default.ui-state-active:before {
      content: "";
      display: block;
      width: 30px;
      height: 30px;
      border-radius: 40px;
      background: #55C4C6;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      z-index: -1;
  }
  
  .ui-datepicker-week-end {
      color: #a9b5c1;
  }
  
  .ui-datepicker-calendar tbody td {
      line-height: 38px;
      text-align: center;
  }
  .ui-datepicker-calendar tbody {
      color: #404040;
      font-weight: 600;
  }
  
  a.ui-datepicker-prev.ui-corner-all {
    float: left;
    line-height: 45px;
  }
  
  a.ui-datepicker-next.ui-corner-all {
  
    float: right;
    line-height: 45px;
  }
  
  a.ui-datepicker-prev.ui-corner-all,
  a.ui-datepicker-next.ui-corner-all {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    position: relative;
    cursor: pointer;
    color: black;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    margin: 0 16px;
  }
  
  a.ui-datepicker-prev.ui-corner-all:hover,
  a.ui-datepicker-next.ui-corner-all:hover {
    color: #e6e6e6;
  }
  
  a.ui-datepicker-next.ui-corner-all i,
  a.ui-datepicker-prev.ui-corner-all i {
    font-size: 21px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  
  .ui-datepicker-title {
    text-align: center;
    color: black;
    height: 45px;
    line-height: 45px;
    text-transform: uppercase;
    
  }
  
  .ui-datepicker-title span:last-child {
    color: #000000;
  }
  
  .ui-datepicker-header {
    background: #ecf9f9;
  }
  
  .ui-datepicker-calendar thead th,
  .ui-datepicker-calendar tbody td {
    line-height: 38px;
    text-align: center;
  }
  
  .ui-datepicker-calendar tbody td {
    position: relative;
    z-index: 1;
  }
  
  .ui-datepicker-week-end {
    color: #a9b5c1;
  }
  
  .ui-datepicker-calendar thead th {
    color: #a9b5c1;
    /* text-transform: uppercase; */
    font-weight: 400;
    font-size: 12px;
  }
  
  .ui-state-default.ui-state-active:before {
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 40px;
    background: #55C4C6;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: -1;
  }
  
  .ui-datepicker-calendar thead th:last-child {
    color: #404040;
  }
  
  .ui-datepicker-calendar tbody {
    color: #404040;
    font-weight: 600;
  }
  
  .ui-datepicker-calendar thead tr {
    /* background: #f0f4f7; */
  }
  
  .ui-datepicker-calendar {
    width: 100%;
    border-collapse: inherit;
    border-width: 0 1px 1px 1px;
    border-style: solid;
    border-color: transparent;
    padding: 5px;
  }
  
  td.ui-datepicker-today {
    color: #ffffff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
  }
  td.ui-datepicker-today:before{
      background: #a9b5c1;
      
  }
  td.ui-datepicker-today a.ui-state-highlight{
      color: white;
  }
  td.ui-datepicker-current-day a{
    color: white;
  }
  td.ui-datepicker-today:before {
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 40px;
    
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: -1;
  }
  .ui-state-default{
      color: black;
      text-decoration: none;
  }

  .ui-datepicker-week-end{
      .ui-state-default{
        color: red;
      }
    
  }

  i.arrow {
    position: static !important;
    border: solid black;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
}
a.ui-datepicker-next.ui-corner-all i, a.ui-datepicker-prev.ui-corner-all i {
    font-size: 21px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

i.arrow.right {
    transform: rotate(-45deg) !important;
    -webkit-transform: rotate(-45deg) !important;
}
i.arrow.left {
    transform: rotate(135deg) !important;
    -webkit-transform: rotate(135deg) !important;
}
.ui-state-default.ui-state-active:before {
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 40px;
    background: #55C4C6;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: -1;
}