
/*
    Created on : 14.08.2018, 18:58:08
    Author     : dimabresky
*/

.children-age-box {
    color: #444;
}

.sidebar .card:not(.modal), .sidebar__card {
    display: block;
    padding: 1rem;
    margin-bottom: 1.875rem;
    background: #218d41;
}

.card {
    border-radius: 0;
    background: white !important;
    border-color: #dcdcdc !important;
}
