div.news-detail
{
	word-wrap: break-word;
}
div.news-detail img.detail_picture
{
	float:left;
	margin:0 8px 6px 1px;
}
.news-date-time
{
	color:#486DAA;
}
.price_table {
	text-align: center;
}
/*
.title-style-2 .star-rating {
	display: inline-block;
}*/
